.login {
  border-radius: 25px;
  width: 100px;
  height: 40px;
  font-size: small;
  background-color: #388ed8;
}
.conta {
  font-size: large;
}

.default-cinza {
  color: #303030;
}

.footer-cinza-escuro {
  color: #444444;
}

.footer-cinza-claro {
  color: #777879;
}
